.git
.github
.idea
.vscode
.zed
.nova
.cursor
.codex
node_modules
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/pail
public/build
public/hot
public/storage
public/static
public/fonts-manifest.dev.json
tests
phpunit.xml
*.md
!README.md
compose.yaml
docker-compose.override.yaml
docker-compose.yml
.env
.env.*
!.env.example
database/database.sqlite*
auth.json
_ide_helper.php
*.log
.phpunit.cache
.phpunit.result.cache
