@font-face {
    font-family: "Rauschen-B";
    font-weight: 400;
    src: url('../fonts/Rauschen-B-Book.woff2') format('woff2'),
        url('../fonts/Rauschen-B-Book.woff') format('woff'),
        url('../fonts/Rauschen-B-Book.otf') format('opentype'),
        url('../fonts/Rauschen-B-Variable.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: "Rauschen-B";
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Rauschen-B-Book-Italic.woff') format('woff'),
        url('../fonts/Rauschen-B-Book-Italic.otf') format('opentype'),
        url('../fonts/Rauschen-B-Variable.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: "Rauschen-B";
    font-weight: 600;
    src: url('../fonts/Rauschen-B-Semibold.woff2') format('woff2'),
        url('../fonts/Rauschen-B-Semibold.woff') format('woff'),
        url('../fonts/Rauschen-B-Semibold.otf') format('opentype'),
        url('../fonts/Rauschen-B-Variable.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: "Rauschen-B";
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Rauschen-B-Semibold-Italic.woff') format('woff'),
        url('../fonts/Rauschen-B-Semibold-Italic.otf') format('opentype'),
        url('../fonts/Rauschen-B-Variable.ttf') format('truetype');
    font-display: block;
}
