@import './fonts.css' layer(base);

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source inline("{,hover:}{bg,border}-{actions-transmit-bg,actions-explore-bg,actions-experiment-bg}{,!}");
@source inline("{,hover:}text-{actions-transmit,actions-explore,actions-experiment}{,-bg}{,!}");

@theme {
    --font-sans: 'Rauschen-B', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-yellow: #FDFB06;

    --color-actions-transmit-bg: #FF9F5A;
    --color-actions-transmit: var(--color-black);
    --color-actions-explore-bg: #310195;
    --color-actions-explore: var(--color-white);
    --color-actions-experiment-bg: var(--color-yellow);
    --color-actions-experiment: var(--color-black);
}

[x-cloak] {
    display: none !important;
}

@layer utilities {
    .px-base {
        @apply px-4 sm:px-6 lg:px-8;
    }
    .text-body-lg {
        @apply text-xl sm:text-2xl lg:text-3xl;
    }
    .text-body-md {
        @apply text-base sm:text-lg lg:text-xl;
    }
    .trim-text {
        text-box: trim-both cap alphabetic;
    }
    .bard {
        p:not(:last-child), ul:not(:last-child), ol:not(:last-child) {
            margin-bottom: 1em;
            margin-bottom: .75lh;
        }
        a {
            @apply opacity-50 underline hover:opacity-75;
        }
        ul, ol {
            @apply list-inside;
            & > li > p {
                @apply inline;
            }
        }
        ul {
            @apply list-disc;
        }
        ol {
            @apply list-decimal;
        }
    }
}

@layer components {
}
