@import './fonts.css' layer(base);

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source inline("bg-{actions-transmit-bg,actions-explore-bg,actions-experiment-bg}");
@source inline("text-{actions-transmit,actions-explore,actions-experiment}");

@theme {
    --font-sans: 'Rauschen-B', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-actions-transmit-bg: #FF9F5A;
    --color-actions-transmit: #000000;
    --color-actions-explore-bg: #310195;
    --color-actions-explore: #FFFFFF;
    --color-actions-experiment-bg: #FDFB06;
    --color-actions-experiment: #000000;
}

[x-cloak] {
    display: none !important;
}

@layer utilities {
    .px-base {
        @apply px-4 sm:px-6 lg:px-8;
    }
    .text-body-lg {
        @apply text-xl sm:text-2xl lg:text-3xl;
    }
    .text-body-md {
        @apply text-base sm:text-lg lg:text-xl;
    }
    .trim-text {
        text-box: trim-both cap alphabetic;
    }
}

@layer components {
}
