<section class="px-base pt-30 grid grid-cols-8 gap-x-5 pb-10">
    <h1 class="mb-10 col-span-full">{{ partial:asset :image="image_title_h1:id" :alt_glide="image_title_h1:_alt" class="w-full h-full object-cover" preset="full" }}</h1>
    <div class="col-start-1 md:col-start-3 lg:col-start-4 xl:col-start-5 col-end-9 bard">
        {{ intro }}
    </div>
    <hr class="my-10 col-span-full">
</section>
<section class="px-base pt-30 pb-10">
    <h2 class="mb-50 col-span-full">{{ partial:asset :image="principles_image_title:id" :alt_glide="principles_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 max-w-6xl mx-auto">
        {{ principles }}
        <div class="text-body-lg text-center bard py-15 px-25 bg-principles-{{ ((index) % 6) + 1 }}">
            {{ principle }}
        </div>
        {{ /principles }}
    </div>
    <hr class="my-10">
</section>
<section class="px-base pt-30 grid grid-cols-8 gap-x-5">
    <h2 class="mb-10 col-span-full">{{ partial:asset :image="history_image_title:id" :alt_glide="history_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="col-start-1 md:col-start-3 lg:col-start-4 xl:col-start-5 col-end-9 bard">
        {{ history_description }}
    </div>
    <hr class="my-10 col-span-full">
</section>
<div class="px-base grid grid-cols-1 lg:grid-cols-2 gap-x-5 pb-10">
    <section>
        <h2 class="text-title-lg mb-10">{{ team_title }}</h2>
        <dl>
        {{ team_members }}
            <div class="mb-10">
                <dt>{{ role }}</dt>
                <dd class="font-bold">{{ name }}</dd>
            </div>
        {{ /team_members }}
        </dl>
    </section>
    <section class="lg:border-l lg:pl-5">
    <hr class="my-10 lg:hidden">
        <h2 class="text-title-lg mb-10">{{ council_title }}</h2>
        <dl>
        {{ council_members }}
            <div class="mb-10">
                <dt>{{ role }}</dt>
                <dd class="font-bold">{{ name }}</dd>
            </div>
        {{ /council_members }}
        </dl>
    </section>
</div>
