<section class="px-base grid grid-cols-8 gap-x-5 relative pt-54.25 -mt-24.25 lg:pt-69.25 lg:-mt-41.75">
    <h1 class="mb-10 col-span-full">{{ partial:asset :image="image_title_h1:id" :alt_glide="image_title_h1:_alt" class="w-full h-full object-cover" preset="full" }}</h1>
    <div class="col-start-1 md:col-start-3 lg:col-start-4 xl:col-start-5 col-end-9 bard">
        {{ intro }}
    </div>
    <hr class="mt-10 col-span-full">
    <div class="absolute inset-0 -z-1 isolate translate-z-0" x-data="parallaxStack()">
        <img
            srcset="/images/filogie_site_fond_apropos-bloc-1_forme_3@1x.webp 1x, /images/filogie_site_fond_apropos-bloc-1_forme_3.webp 2x"
            src="/images/filogie_site_fond_apropos-bloc-1_forme_3.webp"
            alt=""
            class="w-65/100 h-auto absolute right-0 top-0 will-change-transform"
            data-speed="0.8"
        >
        <img
            srcset="/images/filogie_site_fond_apropos-bloc-1_forme_2@1x.webp 1x, /images/filogie_site_fond_apropos-bloc-1_forme_2.webp 2x"
            src="/images/filogie_site_fond_apropos-bloc-1_forme_2.webp"
            alt=""
            class="w-full h-auto absolute inset-x-0 top-0 will-change-transform mix-blend-hard-light contrast-150"
            data-speed="0.6"
        >
        <img
            srcset="/images/filogie_site_fond_apropos-bloc-1_forme_1@1x.webp 1x, /images/filogie_site_fond_apropos-bloc-1_forme_1.webp 2x"
            src="/images/filogie_site_fond_apropos-bloc-1_forme_1.webp"
            alt=""
            class="w-4/5 h-auto absolute left-0 top-0 will-change-transform"
            data-speed="0.4"
        >
    </div>
</section>
<section class="px-base pt-10 relative">
    <h2 class="mb-50 col-span-full">{{ partial:asset :image="principles_image_title:id" :alt_glide="principles_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 max-w-6xl mx-auto">
        {{ principles }}
        <div class="text-body-lg text-center bard py-15 px-25 bg-principles-{{ ((index) % 6) + 1 }}">
            {{ principle }}
        </div>
        {{ /principles }}
    </div>
    <hr class="mt-10">
    <div class="absolute inset-0 -z-1">
        <img
            srcset="/images/filogie_site_fond-apropos-bloc2@1x.webp 1x, /images/filogie_site_fond-apropos-bloc2.webp 2x"
            src="/images/filogie_site_fond-apropos-bloc2.webp"
            alt=""
            class="w-full h-full"
        >
    </div>
</section>
<section class="px-base pt-10 grid grid-cols-8 gap-x-5 relative">
    <h2 class="mb-10 col-span-full">{{ partial:asset :image="history_image_title:id" :alt_glide="history_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="col-start-1 md:col-start-3 lg:col-start-4 xl:col-start-5 col-end-9 bard">
        {{ history_description }}
    </div>
    <hr class="mt-10 col-span-full">
    <div class="absolute inset-0 -z-1">
        <img
            srcset="/images/filogie_site_fond-apropos-bloc3@1x.webp 1x, /images/filogie_site_fond-apropos-bloc3.webp 2x"
            src="/images/filogie_site_fond-apropos-bloc3.webp"
            alt=""
            class="w-full h-full"
        >
    </div>
</section>
<div class="px-base grid grid-cols-1 lg:grid-cols-2 gap-x-5 py-10 relative">
    <section>
        <h2 class="text-title-lg mb-10">{{ team_title }}</h2>
        <dl>
        {{ team_members }}
            <div class="mb-10">
                <dt>{{ role }}</dt>
                <dd class="font-bold">{{ name }}</dd>
            </div>
        {{ /team_members }}
        </dl>
    </section>
    <section class="lg:border-l lg:pl-5">
    <hr class="my-10 lg:hidden">
        <h2 class="text-title-lg mb-10">{{ council_title }}</h2>
        <dl>
        {{ council_members }}
            <div class="mb-10">
                <dt>{{ role }}</dt>
                <dd class="font-bold">{{ name }}</dd>
            </div>
        {{ /council_members }}
        </dl>
    </section>
    <div class="absolute inset-0 -z-1">
        <img
            srcset="/images/filogie_site_fond-apropos-bloc4@1x.webp 1x, /images/filogie_site_fond-apropos-bloc4.webp 2x"
            src="/images/filogie_site_fond-apropos-bloc4.webp"
            alt=""
            class="w-full h-full"
        >
    </div>
</div>
