<section class="px-base pt-30 grid grid-cols-8 gap-x-5">
    <div class="font-bold text-body-lg col-start-1 md:col-start-3 lg:col-start-4 xl:col-start-5 col-end-9">
        {{ intro }}
    </div>
</section>
<section class="px-base pt-30 grid grid-cols-8 gap-x-5">
    <h2 class="col-span-full mb-10">{{ partial:asset :image="missions_image_title:id" :alt_glide="missions_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="text-body-lg col-start-1 md:col-start-3 lg:col-start-4 xl:col-start-5 col-end-9">
    {{ taxonomy:actions_types }}
    <div class="not-last:mb-10">
        <h3 class="font-bold text-actions-{{ color_slug }} bg-actions-{{ color_slug }}-bg leading-none rounded-full py-2 px-5 trim-text mb-2.5 w-fit">{{ title }}</h3>
        <div>
            {{ intro }}
        </div>
    </div>
    {{ /taxonomy:actions_types }}
    </div>
</section>
<section class="px-base pt-30">
    <h2 class="col-span-full mb-10">{{ partial:asset :image="actions_image_title:id" :alt_glide="actions_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="grid grid-cols-8 gap-5 mt-[-15vw]">
    {{ collection:actions limit="4" sort="date:desc" }}
        <article class="col-span-6 lg:col-span-3">
            <div class="aspect-square w-full mb-5">
                {{ partial:asset :image="featured_image:id" :alt_glide="featured_image:_alt" class="w-full h-full object-cover" preset="half" }}
            </div>
            {{ actions_types }}
            <div class="text-actions-{{ color_slug }} bg-actions-{{ color_slug }}-bg leading-none rounded-full py-1.5 px-3 trim-text mb-5 w-fit">{{ title }}</div>
            {{ /actions_types }}
            <h3 class="font-bold text-body-lg mb-5">{{ title }}</h3>
            <div class="line-clamp-4">{{ description }}</div>
        </article>
    {{ /collection:actions }}
    </div>
</section>
<section class="px-base pt-30">
    <h2 class="col-span-full mb-10">{{ partial:asset :image="news_image_title:id" :alt_glide="news_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="grid grid-cols-8 gap-5 mt-[-15vw]">
    {{ collection:news limit="2" sort="date:desc" }}
        <article class="col-span-6 lg:col-span-3">
            <div class="aspect-video w-full mb-5">
                {{ partial:asset :image="featured_image:id" :alt_glide="featured_image:_alt" class="w-full h-full object-cover" preset="half" }}
            </div>
            <h3 class="font-bold text-body-lg mb-5">{{ title }}</h3>
            <div class="line-clamp-4">{{ description }}</div>
        </article>
    {{ /collection:news }}
    </div>
</section>
