<section class="px-base pt-30 grid grid-cols-8 gap-x-5">
    <div class="font-bold text-body-lg col-start-1 md:col-start-2 lg:col-start-3 xl:col-start-4 col-end-9 bard">
        {{ intro }}
    </div>
</section>
<section class="px-base pt-30 grid grid-cols-8 gap-x-5">
    <h2 class="col-span-full mb-10">{{ partial:asset :image="missions_image_title:id" :alt_glide="missions_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="text-body-lg col-start-1 md:col-start-2 lg:col-start-3 xl:col-start-4 col-end-9">
    {{ taxonomy:actions_types }}
    <div class="not-last:mb-10">
        <h3 class="font-bold text-actions-{{ color_slug }} bg-actions-{{ color_slug }}-bg leading-none rounded-full py-2 px-5 trim-text mb-2.5 w-fit">{{ title }}</h3>
        <div class="bard">
            {{ description }}
        </div>
    </div>
    {{ /taxonomy:actions_types }}
    </div>
    <hr class="my-10 col-span-full">
</section>
<section class="px-base pt-30">
    <h2 class="col-span-full mb-10">{{ partial:asset :image="actions_image_title:id" :alt_glide="actions_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="grid grid-cols-8 gap-x-5 gap-y-10 mt-[-15vw]">
    {{ collection:actions limit="4" sort="date:desc" }}
        <article class="col-span-6 lg:col-span-3">
            <div class="aspect-square w-full mb-5">
                {{ partial:asset :image="featured_image:id" :alt_glide="featured_image:_alt" class="w-full h-full object-cover rounded-lg" preset="half" }}
            </div>
            {{ actions_types }}
            <div class="text-actions-{{ color_slug }} bg-actions-{{ color_slug }}-bg leading-none rounded-full py-1.5 px-3 trim-text mb-5 w-fit">{{ title }}</div>
            {{ /actions_types }}
            <h3 class="font-bold text-body-lg mb-5">{{ title }}</h3>
            <div class="line-clamp-4">{{ description }}</div>
        </article>
    {{ /collection:actions }}
    </div>
    <hr class="my-10">
</section>
<section class="px-base pt-30 pb-10">
    <h2 class="col-span-full mb-10">{{ partial:asset :image="news_image_title:id" :alt_glide="news_image_title:_alt" class="w-full h-full object-cover" preset="full" }}</h2>
    <div class="grid grid-cols-8 gap-x-5 gap-y-10">
        {{ collection:news limit="2" sort="date:desc" }}
        <article class="col-span-full lg:col-span-3">
            {{ if youtube_link }}
            <div class="aspect-video w-full mb-5">
                <iframe class="w-full h-full rounded-lg" src="{{ youtube_link | embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            {{ else }}
            <div class="aspect-video w-full mb-5">
                {{ partial:asset :image="featured_image:id" :alt_glide="featured_image:_alt" class="w-full h-full object-cover rounded-lg" preset="half" }}
            </div>
            {{ /if }}
            {{ if overtitle }}
            <div class="font-bold mb-5">{{ overtitle }}</div>
            {{ /if }}
            <h3 class="font-bold text-body-lg mb-5">{{ title }}</h3>
            <div class="line-clamp-4">{{ description }}</div>
        </article>
        {{ /collection:news }}
        <div class="font-bold text-body-lg col-span-full lg:col-span-2 flex justify-end">
            <a href="{{ button_link }}">{{ button_text }} <br class="max-lg:hidden">→</a>
        </div>
    </div>
</section>
