<section class="px-base pt-30 pb-10">
    <h1 class="mb-30">{{ partial:asset :image="image_title_h1:id" :alt_glide="image_title_h1:_alt" class="w-full h-full object-cover" preset="full" }}</h1>
    {{ collection:news sort="date:desc" }}
            <article class="col-span-6 lg:col-span-3">
                <div class="flex items-center justify-between gap-2.5 mb-5">
                    <div class="flex items-center gap-2.5">
                        {{ news_types }}
                        <div class="border leading-none rounded-full py-1.5 px-3 trim-text w-fit">{{ title }}</div>
                        {{ /news_types }}
                    </div>
                    <div class="border leading-none rounded-full py-1.5 px-3 trim-text w-fit">
                        {{ date | format="d.m.Y" }}{{ if end_date }}-{{ end_date | format="d.m.Y" }}{{ /if }}
                    </div>
                </div>
                {{ if youtube_link }}
                <div class="aspect-video w-full mb-7.5">
                    <iframe class="w-full h-full rounded-lg" src="{{ youtube_link | embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                {{ else }}
                <div class="aspect-video w-full mb-7.5">
                    {{ partial:asset :image="featured_image:id" :alt_glide="featured_image:_alt" class="w-full h-full object-cover rounded-lg" preset="half" }}
                </div>
                {{ /if }}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5">
                    <div>
                        {{ if overtitle }}
                        <div class="text-body-lg mb-5">{{ overtitle }}</div>
                        {{ /if }}
                        <h2 class="font-bold text-body-lg max-lg:mb-5">{{ title }}</h2>
                    </div>
                    <div class="bard">{{ description }}</div>
                </div>
            </article>
            {{ if !last }}
            <hr class="my-10">
            {{ /if }}
    {{ /collection:news }}
</section>
